extends layout

block content
  .primary-container.centered
    .hero-container  
    br
    br   
    br
    br
    
    br
    br
    span.errortext 404: NOT FOUND
    br
    br
    br
    h4 Not finding what you're looking for?
    h4 Get in touch with us at support@skipper.ai

    br
    a.button(href='index.html') Return home
