extends layout

block content
  br

  .primary-container.blog-container
    .post
        .sub-info
            h1 🧡
            h1 Picnic Subscription
            h4.
                Thanks for your interest in Skipper! We use <a target='_blank' href='https://www.stripe.com'>Stripe</a> to securely handle payments. Pause your subscription at any time through <strong>Intercom</strong>, the green circle at the bottom of your browser window.
            br
            br
        .payment
            <iframe src="https://checkoutpage.co/checkout/5ca9125a94815b0015c73e3a/weekly-picnic-basket" width="100%" height="1200px" frameborder="0"></iframe>