extends layout-home

block content

  script.
    var $ = require('jquery');

    $(document).ready(() => {
      const plates = ['images/picnic-plate1-shadow.png', 'images/picnic-plate2-shadow.png', 'images/picnic-plate3-shadow.png']
      setInterval(function() {
        if ($('.hero-img').attr('src') == plates[0]) {
          $('.hero-img').attr("src", plates[1]);
        } else if ($('.hero-img').attr('src') == plates[1]) {
          $('.hero-img').attr("src", plates[2]);
        } else {
          $('.hero-img').attr("src", plates[0]);
        }
      }, 8000);
    });

  .background-green
    .hero-container
      .hero-card
        .hero-text
          h1.hero.
            Healthy meals, free delivery.
          h4.hero. 
            Get a fresh and delicious meal delivered to your door for as little as  $8.00, free delivery guaranteed. <i style="color: darkgreen; opacity: .5; font-size: 20px;" class="fas fa-check-circle"></i>
          form(action="https://picnic385059.typeform.com/to/jv1HLB" method="GET" target="_blank")
            input.input-box.input-nav.fatty(type="email" placeholder="Enter email" name="email" required)
            input.button.hero-btn(type="submit" value="Join waitlist")
      .img-group
        img.hero-img(src='images/picnic-plate1-shadow.png')
        
      

      p.hero *Only available in the Los Angeles area.

  br
  br
  .primary-container.centered
    h1 Fresh food with a tiny footprint
    h4 We exclusively choose ingredients that are sustainably grown and have a low carbon footprint—that's why you <i>won't find any meat on our menu.</i>
    br
    
    .flex
      .usecase-box
        <i class="fas fa-heart skipper-icon"></i>
        h2 Healthy, Without Compromise
        p Our food is healthy <i>and</i> delicious. Our meals are seasoned with fresh herbs bring out the natural flavors of our ingredients.

      .usecase-box
        <i class="fas fa-tree skipper-icon"></i>
        h2 A Small, Seasonal Menu
        p Our menu is inspired by the ingredients we find at farmer's markets and from local growers.

      .usecase-box
        <i class="fas fa-concierge-bell skipper-icon"></i>
        h2 Delivered Piping Hot
        p Our meals are designed to look and taste fresh when you pick it up at the door.

  //- .primary-container
  //-   .flex
  //-     .left-img
  
  //-     .right-text      
  //-       h1 Committed to your health, and the planet's
  //-       h4 Meat is tasty, but it's a big contributor to climate change. At Picnic, our mission is to help eaters embrace a plant-based diet that doesn't suck.
  //-       br
  
  br
  br
  br
  .primary-container.centered.mobile-centered
    h1 Place your order now
    h4 If it's during operating hours, simply fill out our online form to place your order.

    br
    br
    form(action="https://picnic385059.typeform.com/to/jv1HLB" method="GET" target="_blank")
      input.button.button-nav.fatty(type="submit" value="Join waitlist")






          

 
