doctype html

include ../includes/head
include ../includes/mixins.pug
include ../includes/data.pug

body
// loads navigation bar for each page
include ../includes/nav-home.pug

// this is where content will be loaded for subsequent pages
block content

// footer
include ../includes/footer








