extends layout

block content
    style.
        p i {
            font-size: 15px;
            margin-right: 5px;
            opacity: .5;
        }

    .primary-container
        br
        br
        br
        br
        br
        br
        .stretch-container
            .stretch(style="background-image: url('../images/picnic-plate-collection.JPG')")
        .container
           .post
                h1 ✨ The Mission 
                h4.
                    What you eat is responsible for about 17% of all greenhouse gas emissions. Even if we use only 100% renewable energy, cows and other ruminants will be producing methane just by digesting their food.
                h4.
                    We started Picnic with the goal of helping people eat sustainably. Growing an animal takes far more calories than it yields, and because of that eating animal products creates far more waste, pollution, and greenhouse gas emissions than eating plants. That is why our menu has no animal products on it.
                h4.
                    The average American eats food that ends up creating about 2.5 tons of CO2 each year. By comparison, the average vegan ends up putting out only 1.5 tons of CO2 from what they eat. 
                h4.
                    Limiting meat consumption is one of the biggest things an individual can do to stop climate change. We help make that easier, and we also source our produce locally and prefer sustainable farming practices to make our customers' diet footprints even smaller.
                h4.
                    We hope you love the taste of our food, but our favorite part of having you as a customer is that it's reducing greenhouse gas emissions every time you eat one of our meals.
                h4.
                    We encourage you read more about how what you eat affects the planet. We will be posted some of our favorite articles here and on our blog (coming soon)!



