extends layout

block content
    style.
        p {
            font-size: 20px;
        }

        li {
            font-size: 16px;
        }

    .primary-container
        br
        br
        br
        br
        br
        br
        .stretch-container
            .stretch(style="background-image: url('../images/picnic-plate-collection.JPG')")
        .container
           .post
                h1 🍴 Simple Nutrition Facts  
                :markdown-it
                    - **Fennel on Sunflower Pesto Peas**
                        - 49.2g carbs
                        - 19g protein
                        - 68g fat
                        - 885 calories

                    - **California Congee**
                        - 98.3g carbs
                        - 10g protein
                        - 10g fat (from cooking oils)
                        - 523 calories

                    - **Cauliflower Cassoulet**
                        - 110g carbs
                        - 25g protein
                        - 18g fat (from cooking oils)
                        - 702 calories



