extends layout

block content
    br
    br
    br
    br
    br
    br
    br
    br 
    .primary-container.centered
        h1 🙈
        h1 Redirecting...
        p You should be redirected shortly!

    <meta http-equiv="refresh" content="1; url=/faq.html#subscription" />