//- INCLUDES > VARIABLES
-
    const menus = {
        menu1: [
            {
                "src": "../images/food/california-congee.jpg",
                "name": "California Congee",
                "sub": "A hearty rice porridge topped with Elote-spiced corn, caramelized mushrooms, fresh asparagus, and green onion.",
                "price": "8.00"
            },
            {
                "src": "../images/food/fennel-pesto-peas.jpg",
                "name": "Fennel on Sunflower Pesto Peas",
                "sub": "Caramelized Fennel atop a bed of peas tossed in a sunflower-seed pesto sauce. Served with a dollop of fennel purée and fresh toasted sunflower seeds.",
                "price": "8.00"
            },
            {
                "src": "../images/food/cauliflower-cassoulet.jpg",
                "name": "Cauliflower Cassoulet",
                "sub": "Oven Seared Cauliflower atop a comforting stew made of caramelized onion and white beans simmered in our rich vegetable broth. Served with arugula wilted in olive oil.",
                "price": "8.00"
            }
        ]
    };

    const btnTxt = 'Join waitlist';
